<hr />
<p>
  ID: <span class="idLabel"></span>
</p>
<p class="asnPanel">
  Asn： <span class="asnLabel"></span>
</p>
<p class="targetLabel"></p>
<a class="postHistoryLink">[投稿履歴]</a>
<a class="offenseRecordLink">[違反記録]</a>
<a class="fileHistoryLink">[ファイル履歴]</a>
<p id="reasonPanel">
  理由: <span class="reasonLabel"></span>
</p>
<p class="boardPanel">
  ボード：<span class="boardLabel"></span>
</p>
<p id="expirationPanel">
  有効期限: <span class="expirationLabel"></span>
</p>
<p>
  適用者: <span class="appliedByLabel"></span>
</p>
<p>
  <span class="appealPanel"> アピール: <span class="appealLabel"></span></span>
</p>
<form
  class="denyForm"
  action="/denyAppeal.js"
  method="post"
  enctype="multipart/form-data">
  <input
    type="hidden"
    name="banId"
    class="denyIdentifier">
  <button
    type="submit"
    class="denyFormButton">控訴を拒否する</button>
</form>

<form
  action="/liftBan.js"
  method="post"
  enctype="multipart/form-data">
  <button
    type="submit"
    class="liftFormButton">禁止を解除する</button>
  <input
    type="hidden"
    class="liftIdentifier"
    name="banId">
</form>