<hr />
<div class="innerOP">
  <div class="panelUploads opUploadPanel"></div>
  <div class="opHead title">
    <input type="checkbox" class="deletionCheckBox">
    <span class="labelSubject"></span>
    <a class="linkName"></a>
    <img class="imgFlag"> <span class="labelRole"></span>
    <span class="labelCreated"></span>
    <span class="spanId">
      Id: <span class="labelId"></span></span>
    <span class="archiveIndicator" title="Archived"></span>
    <span class="lockIndicator" title="Locked"></span>
    <span class="pinIndicator" title="Sticky"></span>
    <span class="cyclicIndicator" title="Cyclical Thread"></span>
    <span class="bumpLockIndicator" title="Bumplocked"></span>
    <a class="linkSelf">No.</a>
    <a class="linkQuote"></a>
    <a class="linkReply">[返信]</a>
    <a class="linkLast">[最後]</a>
    <a class="linkEdit">[編集]</a>
    <a class="linkHistory">[歴史]</a>
    <a class="linkFileHistory">[ファイル履歴]</a>
    <a class="linkOffenseRecord">[違反記録]</a>
    <span class="panelBacklinks"></span>
  </div>
  <div class="panelASN"> Asn： <span class="labelASN"></span>
  </div>
  <div class="panelBypassId"> バイパスID: <span class="labelBypassId"></span>
  </div>
  <div class="panelIp">
    <span class="panelRange">ブロード
        広い範囲(1/2 オクテット): <span class="labelBroadRange"> </span> <br>
        狭い範囲(3/4 オクテット): <span class="labelNarrowRange"> </span> <br>
    </span>
    Ip: <span class="labelIp"></span>
  </div>
  <div class="divMessage" /></div>
  <div class="contentOmissionIndicator">
    <p>
      メッセージが長すぎます。クリックしてください
      <a class="linkFullText">ここ</a>
      をクリックすると、全文が表示されます。
    </p>
  </div>
  <div class="divBanMessage"></div>
  <div class="labelLastEdit"></div>
  <div class="labelOmission"></div>
</div>
<div class="divPosts"></div>
