<!-- 

<link
  href="/.static/css/birthday.css"
  type="text/css"
  rel="stylesheet" 
  class="globalTheme" /> 
<style>
.innerOP:before {
  content: '';
  background: url("/.static/bdayhat.png") no-repeat;
  position: absolute;
  left: 0;
  width: 74px;
  height: 150px;
  z-index: 10;
  margin-top: -140px;
  pointer-events: none;
}
</style>

-->

<!--<table>
    <tr> <td align="center">
          The backup domain is located at 8chan.se. .cc is a third fallback. TOR access can be found
          <a href="http://4usoivrpy52lmc4mgn2h34cmfiltslesthr56yttv2pxudd3dapqciyd.onion">here</a>, or you can access the TOR portal from the clearnet at <a href="https://redchannit.com">Redchannit 2.0</a>.<br>
	  <br> <strong></strong><br><br>
          8chan.moe is a hobby project with no affiliation whatsoever to the administration of any other "8chan" site, past or present.
   	  </td> </tr>
    <tr>
        <td>DATE</td>
        <td>NEXT ROW</td>
    </tr> 
</table>-->
