<span id="navLinkSpan"> <span>[</span> <a
    href="/"
    class="coloredIcon"
    title="ホーム"
    id="navLinkHome"></a> <span>/</span> <a
    href="/boards.js"
    class="coloredIcon"
    title="掲示掲示板"
    id="navBoardList"></a> <span>/</span> <a
    href="/overboard"
    class="coloredIcon"
    title="オーバー掲示板"
    id="linkOverboard"></a> <span>/</span> <a
    href="/sfw"
    class="coloredIcon"
    title="わいせつではないオーバー掲示板"
    id="linkSfwOver"></a> <span>/</span> <a
    href="/.static/pages/posting.html"
    class="coloredIcon"
    title="投稿"
    id="navPosting"></a> <span>/</span> <a
    class="coloredIcon"
    title="この機能を使用するには、JavaScriptを有効にする必要があります"
    id="settingsButton"></a> <span>/</span> <a
    class="coloredIcon"
    title="この機能を使用するには、JavaScriptを有効にする必要があります"
    id="watcherButton"></a> <span>/</span> <a
    href="/account.js"
    class="coloredIcon"
    title="ユーザーアカウント"
    id="navMod"></a> <span>]</span> 
</span>
<span id="navTopBoardsSpan"> </span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan"> <span>[</span> <a
	class="coloredIcon"
	title="ログ"
	id="linkLogs"></a> <span>/</span> <a
	href="#"
	class="coloredIcon"
	title="上"
	id="linkTop"></a> <span>/</span> <a
	href="#footer"
	class="coloredIcon"
	title="下"
	id="linkBottom"></a> <span>/</span> <a
	href="catalog.html"
	class="coloredIcon"
	title="カタログ"
	id="navCatalog"></a> <span>/</span> <a 
	href="index.rss"
	class="coloredIcon"
	title="RSS"
	id="linkRss"></a> <span>]</span>
</span>
