<input type="text"
   id="prevent_autofill_uname"
   class="hidden"
   autocomplete="off"
   tabindex="-1" />
<input type="password"
    id="prevent_autofill_pwd"
    class="hidden"
    autocomplete="off"
    tabindex="-2" />

<table> <tbody>

  <tr id="divName">
    <th>おなまえ</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldName"
        name="name"></td>
  </tr>
 
  <tr id="divOptions">
    <th>オプション</th>
    <td>
      <span id="useSageSpan">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
		  name="sage"
          id="doSageCheckbox">
        <label for="doSageCheckbox"></label>
      </span>

      <span class="hidden" id="alwaysUseBypassSpan">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="alwaysUseBypassCheckBox">
        <label for="alwaysUseBypassCheckBox"></label>
      </span>
    </td>
  </tr>

  <tr>
    <th>題　　名</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldSubject"
        name="subject">
      <input
        name="boardUri"
        id="boardIdentifier"
        type="hidden"
        tabindex="-3" /></td>
  </tr>

  <tr>
    <th>コメント</th>
    <td><textarea
        rows="5"
        cols="35"
        class="postingInput"
        id="fieldMessage"
        name="message"></textarea>

      <p class="small">
        コメントの最大長： <span id="labelMessageLength"></span>
      </p></td>
  </tr>

  <tr id="divUpload">
    <th>ファイル</th>
    <td>
      <div
        class="hidden"
        id="dragAndDropDiv">
        <div
          class="dropzone"
          id="dropzone">
          ファイルをドラッグしてアップロードするか、
          <br>
          ここをクリックして選択します
        </div>
        <div id="selectedDiv"></div>
      </div>

      <div>
        <input
          type="file"
          name="files"
          id="inputFiles"
          multiple
          class="fileBrowser">
      </div>
      <input
        type="checkbox"
        name="spoiler"
        class="postingCheckbox"
        id="checkboxSpoiler"> <label for="checkboxSpoiler"></label>
      <label id="labelScramble" for="checkboxScramble"></label>

      <p class="small">
        最大ファイルサイズ： <span id="labelMaxFileSize"></span>
      </p>
      <p class="small">
        最大ファイル数： <span id="labelMaxFiles"></span>
      </p>
      <p class="small">
        サポートされているファイルの種類： GIF, JPG, PNG, WebM, OGG,
       	<a class="localPageLink" href="/.static/pages/about.html#filetypes">その他</a>
      </p>

    </td>
  </tr>

  <tr id="captchaDiv">

    <th>キャプチャ</th>
    <td><img
      class="captchaImage"
      src="/captcha.js" />

      <div class="subCaptchaDiv">
        <input
          type="button"
          onClick="captchaUtils.reloadCaptcha()"
          value="Reload"
          class="hidden reloadCaptchaButton">
        <span class="captchaTimer"></span>
        <br>

        <input
          name="captcha"
          type="text"
          autocomplete="none"
          class="captchaField postingInput"
          id="fieldCaptcha"
          placeholder="答え">

        <a
          href="/noCookieCaptcha.js"
          class="small"
          id="noCookiesLink">クッキーはありませんか？</a>

      </div></td>
  </tr>

</tbody> </table>

<details class="postingFormExtra">
<summary class="glowOnHover"></summary>

<table> <tbody>

  <tr>
    <th>E-mail</th>
    <td><input
        type="text"
        autocomplete="none"
        class="postingInput"
        id="fieldEmail"
        name="email"></td>
  </tr>

  <tr>
    <th>パスワード</th>
    <td><input
        id="fieldPostingPassword"
        name="password"
        class="postingInput"
        type="password">
      <p class="small">（ファイルと投稿を削除するために使用されます）</p></td>
  </tr>

  <tr>
    <th>その他</th>
    <td>
      <div id="flagsDiv">
        <select
          name="flag"
          id="flagCombobox"></select>
        <img class="flagPreview">
      </div>
      <div id="noFlagDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="checkboxNoFlag"
          name="noFlag">
        <label for="checkboxNoFlag"></label>
      </div>
    </td>
  </tr>
</tbody> </table>

</details>
